<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.axboot.domain.education.EducationJyMapper">
    <!--java와 일대일대응-->
    <select id="getByMyBatis" resultType="educationJy" parameterType="educationJy" statementType="PREPARED">
        SELECT
        ID AS id,
        COMPANY_NM AS companyNm,
        CEO AS ceo,
        BIZNO AS bizno,
        TEL AS tel,
        ZIP AS zip,
        ADDRESS AS address,
        ADDRESS_DETAIL AS addressDetail,
        EMAIL AS email,
        REMARK AS remark,
        USE_YN AS useYn
        <!--    ,    CREATED_AT AS createdAt,-->
        <!--        CREATED_BY AS createdBy,-->
        <!--        UPDATED_AT AS updatedAt,-->
        <!--        UPDATED_BY AS updatedBy-->
        FROM
        EDUCATION_JY

        <where>
            <if test="companyNm != null and companyNm !=''">
                AND COMPANY_NM LIKE '%' || #{companyNm} || '%'
            </if>
            <if test="ceo != null and ceo !=''">
                AND CEO LIKE '%' || #{ceo} || '%'
            </if>
            <if test="bizno != null and bizno !=''">
                AND BIZNO LIKE '%' || #{bizno} || '%'
            </if>
        </where>

    </select>

    <select id="select" resultType="educationJy" parameterType="HashMap" statementType="PREPARED">
        SELECT
        ID AS id,
        'mybatis : ' || COMPANY_NM AS companyNm,
        CEO AS ceo,
        BIZNO AS bizno,
        TEL AS tel,
        ZIP AS zip,
        ADDRESS AS address,
        ADDRESS_DETAIL AS addressDetail,
        EMAIL AS email,
        REMARK AS remark,
        USE_YN AS useYn
        FROM EDUCATION_JY
        <where>
            <if test="companyNm != null and companyNm != ''">
                AND COMPANY_NM LIKE '%' || #{companyNm} || '%'
            </if>
            <if test="ceo != null and ceo != ''">
                AND CEO LIKE '%' || #{ceo} || '%'
            </if>
            <if test="bizno != null and bizno != ''">
                AND CEO BIZNO LIKE '%' || #{bizno} || '%'
            </if>
            <if test="useYn != null and useYn != ''">
                AND USE_YN = #{useYn}
            </if>
        </where>
        order by companyNm asc
    </select>
    <select id="selectOne" resultType="educationJy" parameterType="Long" statementType="PREPARED">
        SELECT
        ID AS id,
        COMPANY_NM AS companyNm,
        CEO AS ceo,
        BIZNO AS bizno,
        TEL AS tel,
        ZIP AS zip,
        ADDRESS AS address,
        ADDRESS_DETAIL AS addressDetail,
        EMAIL AS email,
        REMARK AS remark,
        USE_YN AS useYn
        FROM
        EDUCATION_JY
        WHERE ID = #{id}
    </select>
    <insert id="insert" parameterType="educationJy" statementType="PREPARED">
        INSERT INTO EDUCATION_JY (

        COMPANY_NM,
        CEO,
        BIZNO,
        TEL,
        ZIP,
        ADDRESS,
        ADDRESS_DETAIL,
        EMAIL,
        REMARK,
        USE_YN
        ) VALUES (
        #{companyNm},
        #{ceo},
        #{bizno},
        #{tel},
        #{zip},
        #{address},
        #{addressDetail},
        #{email},
        #{remark},
        #{useYn}
        )
    </insert>
    <update id="update" parameterType="educationJy" statementType="PREPARED">
        UPDATE EDUCATION_JY
        SET

        COMPANY_NM = #{companyNm},
        CEO = #{ceo},
        BIZNO = #{bizno},
        TEL = #{tel},
        ZIP = #{zip},
        ADDRESS = #{address},
        ADDRESS_DETAIL = #{addressDetail},
        EMAIL = #{email},
        REMARK = #{remark},
        USE_YN = #{useYn}

        WHERE ID = #{id}
    </update>



    <delete id="delete" parameterType="Long" statementType="PREPARED">
        DELETE FROM
            EDUCATION_JY
        WHERE
        ID = #{id}

    </delete>
</mapper>