<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.axboot.domain.education.JYGridMapper">
    <!--java와 일대일대응-->
    <select id="getByMyBatis" resultType="jyGrid" parameterType="jyGrid" statementType="PREPARED">
        SELECT
        ID AS id,
        COMPANY_NM AS companyNm,
        CEO AS ceo,
        BIZNO AS bizno,
        TEL AS tel,
        ZIP AS zip,
        ADDRESS AS address,
        ADDRESS_DETAIL AS addressDetail,
        EMAIL AS email,
        REMARK AS remark,
        USE_YN AS useYn
        <!--    ,    CREATED_AT AS createdAt,-->
        <!--        CREATED_BY AS createdBy,-->
        <!--        UPDATED_AT AS updatedAt,-->
        <!--        UPDATED_BY AS updatedBy-->
        FROM
        EDUCATION_JY

        <where>
            <if test="companyNm != null and companyNm !=''">
                AND COMPANY_NM LIKE '%' || #{companyNm} || '%'
            </if>
            <if test="ceo != null and ceo !=''">
                AND CEO LIKE '%' || #{ceo} || '%'
            </if>
            <if test="bizno != null and bizno !=''">
                AND BIZNO LIKE '%' || #{bizno} || '%'
            </if>
        </where>

    </select>
</mapper>